
@media (min-width: 1024px) {
	#headerBar {
		min-height: 72px;
		padding: 5px 0px 5px 0px;
	}
}

.mdl-layout--fixed-header .mdl-layout__header-row {
	text-align: center;
	margin: 0px auto;
	padding-left: 48px;
	padding-right: 48px;
}
.mdl-layout--fixed-header  .mdl-layout__header, .mdl-layout-title, #headerBar i {
	color: #C60646;
}

.mdl-layout--fixed-header  .mdl-layout__header, .mdl-layout-title {
	background-color: white;
	font-weight: 900;
	box-shadow: none;
}

#navigationBar {
	background-color: #C60646;
	color: #F7F8FF;
}

#navigationBar .mdl-grid{
/*	padding: 7px 0px 7px 0px;*/
/*	border-top: 2px;
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #0F69FF;*/
}

#navigationBar .navigationButton {

	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

#navigationBar .navigationButton div {
	padding: 5px;
}

#navigationBar .navigationButton a {
	color: #F7F8FF;
	text-decoration: none;
}


#navigationBar .navigationButton div:hover {
	color: #C60646;
	background-color: #F7F8FF;
}

#mainContent p {
	text-align: justify;
}

.contactInfo {
	text-align: center;
}

.contactInfo button {
	width: 150px;
}

.contactInfo .mdl-button--accent{
	background-color: #0081F2;
}

.popupMessage {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	z-index: 10;
}